<!--style sheet-->
<link rel="stylesheet" href="components/header/header.css">
<!--html goes here-->
<div id="header-left">
    <div id="header-menu">
        <i class="fas fa-bars">Menu</i>
    </div>
    <div class="header-logo">logo</div>
</div>
My smart garden
<div id="header-right">
    <div id="user-photo">
        <img id="img-user-photo">
    </div>
    <div>
        <div id="label-user-name"></div>
        <div id="label-user-role"></div>
    </div>
    
    <div id="user-icons">
        <div id="icon-language">
            <i class="fas fa-globe-americas"></i>
        </div>
    <div id="label-language"></div>
    <div id="icon-theme">
        <i class="fas fa-paint-roller"></i>
    </div>
    <div id="icon-logout">
        <i class="fas fa-sign-in-alt"></i>
    </div>
    </div>
</div>